:root {
    --black: #0f0f0f;
    --white: #f0f0f0;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

.horizontal-accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en dispositivos pequeños */
    padding: 10px;
}

.choice {
    display: flex;
    align-items: center;
    background-color: darkgray;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
    color: #FFBF00;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice span {
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 20px;
    margin-left: 10px;
    text-align: center;
    line-height: 60px;
    display: flex;
    align-items: center;
    font-size: 20px;
    cursor: default;
}

.link {
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
    color:#FFBF00;
}

.link svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    margin-left: 10px;
}

.unset {
    max-width: 60px;
    transition: max-width 0.5s ease;
}

.expand {
    max-width: 500px;
    transition: max-width 0.75s ease;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .icon {
        width: 40px;
        height: 40px;
        padding: 5px;
    }
    .choice span {
        height: 40px;
    }
    .unset {
        max-width: 40px;
    }
}

/*@media screen and (max-width: 480px) {
    .choice {
        flex-direction: column;
        padding: 10px;
    }
    .icon {
        width: 40px;
        height: 40px;
    }
    .choice span {
        font-size: 16px;
        line-height: normal;
        margin: 5px 0;
    }
}*/