:root {
    --black: #0f0f0f;
    --white: #f0f0f0;
}

body {
    background-color: var(--black);
    color: var(--white);
}

/* Style of the container with the accordion */
.horizontal-accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Style of the elements inside the accordion */
.choice {
    margin: 0;
    display: flex;
    align-items: center;
    background-color: darkgray;
    border-radius: 15px;
    overflow: hidden;
}

.icon {
    width: 30px; 
    height: 30px;
    background-color: gray;
    margin: 0;
    padding: 5px;
    border-radius: 50%; /* Bordes redondeados */
    color: white; /* Hace que el ícono sea visible en el fondo oscuro */
    flex-shrink: 0; /* Evita que el SVG se reduzca */
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el ícono dentro del círculo */
}

.choice span {
    height: 30px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    margin-left: 5px;
    text-align: center;
    line-height: 30px; /* Centra el texto verticalmente */
    display: flex;
    align-items: center; /* Alinea el texto y el ícono verticalmente */
}

/* Estilo para el enlace y su ícono */
.link {
    display: inline-flex; /* Usa flexbox para alinear el ícono */
    align-items: center; /* Centra verticalmente el ícono */
    margin-left: 5px; /* Espacio entre el texto y el ícono */
}

.link svg {
    width: 14px;
    height: 14px;
    fill: currentColor; /* Hereda el color del texto */
}

/* Style of the unset classes */
.unset {
    max-width: 30px;
    height: auto;
    transition: max-width 0.5s ease;
}

/* Style of the expand classes */
.expand {
    max-width: 300px;
    max-height: auto;
    transition: max-width 0.75s ease;
}

.expand span {
    opacity: 1;
}